<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <style>
        .container1 {
            width: 600px;
            height: 30px;
            border: 1px solid black;
            margin: 0 auto;
        }

        .container2 {
            width: 600px;
            height: 300px;
            border: 1px solid black;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <br>
        <div class="container1">
            <label for="reset password">Reset Password</label><br>
        </div>
    <center>
        <div class="container2">
                <label for="uname">E-Mail</label>
                <input type="text" id="user_name" name="user_name"><br>
                <label for="pwd">New Password</label>
                <input type="password" id="password" name="password"><br>
                <label for="pwd">Confirm Password</label>
                <input type="password" id="password" name="password"><br><br>
                <input name="submit" type="submit" id="submit" value="Reset Password">
        </div>
    </center>
</body>

</html>