<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <style>
        .container {
            width: 600px;
            height: 300px;
            border: 1px solid black;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <ul>
        <li><a href="#">Book Name</a>
            <ul>
                <li><input name="#" type="submit" id="submit" value="Tambah Bisnis Baru"></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><a href="#">Name</a>
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </li>
    </ul>
    <ul>
            <li><a href="#">Menu</a>
                <ul>
                    <li><a href="#">Summary</a></li>
                    <li><a href="#">Pencatatan Kas</a></li>
                    <li><a href="#">Stok Barang</a></li>
                    <li><a href="#">Hutang/Piutang</a></li>
                </ul>
            </li>
        </ul>
        <br>
        <center>
            <div class="container">
                    <a href="#">Download to PDF</a><br>
                    <label for="uname">Laporan Kas</label><br>
                    <label for="pwd">Stok Barang</label><br>
                    <label for="pwd">Hutang</label><br>
                    <label for="pwd">Piutang</label><br><br>
            </div>
        </center>
</body>

</html>